form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.formBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select, input {
  padding: 8px 14px;
  border: 1.5px #a158aa solid;
  border-radius: 2px;
  background-color: #f3def8;
}

button{
  padding: 12px 14px;
  background-color: #a158aa;
  border-radius: 2px;
  color: white;
  font-size: medium;
  text-transform: uppercase;
}
